* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color:var(--cor-fundo);
    font-family: "Simonetta", serif;
    font-style: normal;
}

:root {
    --cor-primaria: white;
    --cor-secundaria: black;
    --pontilhado-cor: red;
    --font-titulo: 3rem;
    --font-color: black;
    --cor-fundo: #fdfd96;

}

#caixa-criar-conta{
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.caixa-registro {
    display: flex;
    background: var(--cor-secundaria);
    padding: 2rem;
    height: 55rem;
    width: 35rem;
    border-radius: 1rem;
    justify-content: space-around;
    flex-direction: column;
}

.caixa-titulo {
    display: flex;
    align-items: center;
}

.caixa-complementos {
    display: flex;
    align-items: start;
}

.caixa-registro ul{
    color: var(--cor-primaria);
    list-style: none;
    font-size: 1.5rem;
    margin: 1rem;
    align-items: center;
}

.caixa-registro ul li{
    color: var(--cor-primaria);
    list-style: none;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.caixa-registro h1{
    color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.botao{
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao input {
    width: 10rem;
    margin: 2rem;
    padding: 1rem;
    border: 0.2rem dashed var(--pontilhado-cor);
    font-family: "Simonetta", serif;
    font-size: 1rem;
    font-weight: 300;
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:var(--cor-primaria);
    width: 20rem;
}

footer { 
    background-color: var(--cor-secundaria);
    display: flex;
    padding: 1.5rem;
    color: var(--cor-primaria);
    font-size: 1rem;
    justify-content: center;
    margin-top: 6rem;
}   